<%= form_for(@resolution) do |f| %>
  <% if @resolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

      <ul>
      <% @resolution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :as => :ckeditor, :input_html => {:height => 100, :ckeditor => {:toolbar => 'Mini'} } %>
  </div>
  <% if current_user.name == "admin" %>
    <div class="field">
      <%= f.label :passed %><br>
      <%= f.check_box :passed %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
