<div class="container">
	<div class="vertical-center-row">
		<div align="center">
			<p id="notice"><%= notice %></p>
			<h2>
			  <%= @organization.name %>
			</h2>
			<p>
			  <strong>Email:</strong>
			  <%= @organization.email %>
			</p>
			<p>
				<strong> Join code: </strong>
				<%= @organization.code %>
			</p>
			<p>
				<strong> Admin code: </strong>
				<%= @organization.admincode %>
			</p>
			
		</div>
	</div>
</div>
