<%= form_for(@amendment) do |f| %>
  <% if @amendment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amendment.errors.count, "error") %> prohibited this amendment from being saved:</h2>

      <ul>
      <% @amendment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <% if current_user.name == "admin" %>
    <div class="field">
      <%= f.label :passed %><br>
      <%= f.check_box :passed %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.hidden_field :resolution_id, value: params[:resolution_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
