<p id="notice"><%= notice %></p>

<h1>Listing Amendments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Passed</th>
      <th>Body</th>
      <th>Resolution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amendments.each do |amendment| %>
      <tr>
        <td><%= amendment.title %></td>
        <td><%= amendment.passed %></td>
        <td><%= amendment.body %></td>
        <td><%= amendment.resolution %></td>
        <td><%= link_to 'Show', amendment %></td>
        <td><%= link_to 'Edit', edit_amendment_path(amendment) %></td>
        <td><%= link_to 'Destroy', amendment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amendment', new_amendment_path %>
